<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="utf-8">
<title th:text="${title}">Sign-Up</title>
</head>
<body>
	<section
		class="home-banner d-flex justify-content-center align-items-center text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 m-auto">
					<div class="my-card">
						<h1 class="text-center mb-4">Register For Managing Contacts</h1>
						<hr>
						<form th:action="@{/doRegister}" method="POST">
						
						<div class="row">
						  <div class="col">
						    <div class="form-floating mb-3">
								<input type="text" class="form-control"  id="name-field" placeholder="John Doe" required> 
								<label for="name-field">Your Name</label>
							</div>
						  </div>
						  <div class="col">
						    <div class="form-floating mb-3">
								<input type="email" class="form-control" id="email-field" placeholder="your.email@mail.com" required> 
								<label for="email-field">Email address</label>
							</div>
						  </div>
						</div>
						
						<div class="row">
						  <div class="col-6">
						    <div class="form-floating mb-3">
								<input type="password" class="form-control" id="inputPassword" placeholder="Password" aria-describedby="passwordHelpInline">
								<label for="inputPassword">Password</label>
							</div>
						  </div>
						  <div class="col-6">
						    <span id="passwordHelpInline" class="form-text text-white">
						      Your password must be 8-20 characters long, contain letters and numbers.
						    </span>
						  </div>
						</div>
						
						<div class="row">
						  <div class="col">
						    <div class="form-floating mb-3">
							  <textarea class="form-control" placeholder="Leave a comment here" id="aboutField" style="height: 100px"></textarea>
							  <label for="aboutField">Enter Something about Yourself:</label>
							</div>
						  </div>
						</div>
						  <button type="reset" class="btn btn-secondary">Reset</button>
						  <button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>